textarea, button {
    display: block;
    width: 100%;
}

.column {
  float: left;
}

.left {
  width: 30%;
}

.right {
  width: 70%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
