svg {
    overflow: hidden;
}

.node {
    stroke: white;
    stroke-width: 1.5px;
    white-space: nowrap;
    border-width: 2px;
}

.node.inactive {
    stroke: black;
    fill: white;
}

.node.active {
    fill: #899ab9;
}

.node.completed {
    fill: #28497c;
}

.node.join,
.node.split {
    fill: #3c454e;
}

.node.target {
}

.cluster rect {
    stroke: #333;
    fill: #000;
    fill-opacity: 0.1;
    stroke-width: 1.5px;
}

.edgePath path.path {
    stroke: #333;
    stroke-width: 1.5px;
    fill: none;
}
